*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: lightblue;
    color: black;
    margin: 0;
    padding: 20px;
    /* max-width: 1440px; */
    
}

.main__container{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 1440px;
    background: #fff;
    width: 280px;
    height: 435px;
    /* top:50%;
    left: 50%; */
    margin-top: 230px;
    margin-left: 600px;
    border-radius: 13px;
    /* z-index: 1; */

}


.main__container img{
    /* z-index: 0; */
    width: 260px;
    border-radius: 10px;
    margin: 10px;
}

.text__container{
    font-size: 9px;
    color: #111;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    justify-content: center;
}

.subtext__container{
    font-size: 6px;
    color: rgb(92, 108, 108);
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;

}

@media screen and (max-width: 375px){
    .main__container{
        max-width: 375px;
    }
}